@function pxToRem($pxsize, $rembase: 16) {
  @return ($pxsize / $rembase) + rem;
}

@mixin myFlex($display: false) {
  @if $display {
    display: $display;
    -webkit-box: $display;
    -ms-flexbox: $display;
    -webkit-flex: $display;
  }
}

@mixin createFlex($justifyContent: false) {
  @if $justifyContent {
    -webkit-box-pack: $justifyContent;
    -ms-flex-pack: $justifyContent;
    justify-content: $justifyContent;
  }
}