h3 {
  color: $c-white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: auto;
  font-size: pxToRem(16);
  margin: $space-x-small;
  height: 2%;
}

.categories {
  list-style: none;
  @include myFlex(inline-flex);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @include createFlex(flex-start);
  align-content: center;
  height: 85%;
  margin: 0 auto;

  li {
    border: 1px solid $c-royal-purple;
    border-radius: 2ch;
    background: linear-gradient(
      122deg,
      $c-clairvoyant 50%,
      $c-cardinal-pink 100%
    );
    background-position: left;
    background-size: 250% 250%;
    width: 40%;
    height: 29%;
    max-height: 165px;
    margin: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    p {
      font-size: pxToRem(11);
      text-align: left;
      margin-left: 14px;
    }

    img {
      margin: 29% auto auto 11%;
      max-width: 100%;
      height: $space-x-large;
    }

    hr {
      background-color: $c-heliotrope;
      height: 1px;
      border: 0px;
      width: 79%;
    }
  }

  li:hover {
    background-position: right;
  }
}

.historySmall {
  background: linear-gradient(69deg, $c-soya-bean 50%, $c-tea 100%);
  background-size: 200% 200%;
  background-position: left;
  transition: all ease-in-out 0.2s;
  border: 1px solid $c-white;
  &:hover {
    background-position: right;
  }
}

.motoSmall {
  background: linear-gradient(69deg, $c-stratos 50%, $c-blue 100%);
  background-size: 200% 200%;
  background-position: left;
  transition: all ease-in-out 0.2s;
  border: 1px solid $c-white;
  &:hover {
    background-position: right;
  }
}

.cultureSmall {
  background: linear-gradient(69deg, $c-silver 50%, $c-gray 100%);
  background-size: 200% 200%;
  background-position: left;
  transition: all ease-in-out 0.2s;
  border: 1px solid $c-white;
  &:hover {
    background-position: right;
  }
}

.programmingSmall {
  background: linear-gradient(69deg, $c-ripe-plum 50%, $c-purple 100%);
  background-size: 200% 200%;
  background-position: left;
  transition: all ease-in-out 0.2s;
  border: 1px solid $c-white;
  &:hover {
    background-position: right;
  }
}

.technologySmall {
  background: linear-gradient(69deg, $c-ripe-plum 50%, $c-purple-pink 95%);
  background-size: 200% 200%;
  background-position: left;
  transition: all ease-in-out 0.2s;
  border: 1px solid $c-white;
  &:hover {
    background-position: right;
  }
}
